

<div style="height: 20px;">

</div>


<div class="container">
  <div class="row">
    <div class="col-mid-12">
      <form action="#" method="post" class="form">
        <div class="get-in-touch">
          <h3 class="text-center" style="color: #5b9fb9">
            <b>Domain Information</b></h3>
          <div class="form-group">
            <h5> <span class="label-for-info"> <b>Domain Id: </b></span>{{selected_domain._id}}</h5>
            <h5> <span class="label-for-info"> <b>Create Date: </b></span>{{selected_domain.createdAt | date:'yyyy-MM-dd'}}</h5>
          </div>

          <hr>
          <div class="form-group">
            <label for="titleTextarea" class="label-for-info">Code :</label>
            <input type="text" class="form-control" name="code" id="code" placeholder="code" [(ngModel)] ="selected_domain.domainId"required/>
          </div>

          <div class="form-group">
            <label for="active" class="label-for-info">Active :</label>
            <input type="checkbox" class="form-control" name="active" id="active"  [(ngModel)] ="selected_domain.active"/>
          </div>

          <div class="form-group">
            <label for="titleTextarea" class="label-for-info">Title :</label>
            <textarea class="form-control" id="titleTextarea" name="titleTextarea" rows="3" placeholder="Enter Title" [(ngModel)] ="selected_domain.title"></textarea>
          </div>

          <div class="form-group">
            <label for="subtitleTextarea" class="label-for-info">Sub Title :</label>
            <textarea class="form-control"  name="subtitleTextarea" id="subtitleTextarea" rows="3" placeholder="Enter Sub Title" [(ngModel)] ="selected_domain.subTitle"></textarea>
          </div>


          <div class="w3-bar">
            <button class="w3-btn  btn btn-success " (click)="SaveChanges()" name="save" id="save">Save</button>
            <button class="w3-btn  btn btn-default  " (click)="ClearChanges()" name="clear" id="clear">Clear</button>
          </div>

          <!--  <a href="http://www.jquery2dotnet.com" class="btn btn-danger btn-sm btn-block" role="button">Send it!</a>-->
        </div>
      </form>
    </div>
  </div>
</div>



