
<h2> Article Id: {{selected_article._id}}</h2>
<div class="form-group">
  <label for="titleTextarea">Title</label>
  <textarea class="form-control" id="titleTextarea" rows="3"  [(ngModel)] ="selected_article.title"></textarea>
</div>

<div class="form-group">
  <label for="subtitleTextarea">Sub Title</label>
  <textarea class="form-control" id="subtitleTextarea" rows="3"  [(ngModel)] ="selected_article.subtitle"></textarea>
</div>

<div [froalaEditor] [(froalaModel)]="selected_article.content"></div>
<div [froalaView]="selected_article.content"></div>
<button (click)="SaveChanges()">Save</button>
